SERVER_URL=http://SEU_IP_OU_DOMINIO:8080

AUTHENTICATION_API_KEY=TROQUE_AQUI
AUTHENTICATION_EXPOSE_IN_PAGE_BLUR=true

DATABASE_ENABLED=true
DATABASE_PROVIDER=postgresql
DATABASE_CONNECTION_URI=postgresql://postgres:SUA_SENHA@evolution_db:5432/evolution?schema=public
DATABASE_CONNECTION_CLIENT_NAME=evolution_exchange

DATABASE_SAVE_DATA_INSTANCE=true
DATABASE_SAVE_DATA_NEW_MESSAGE=true
DATABASE_SAVE_MESSAGE_UPDATE=true
DATABASE_SAVE_DATA_CONTACTS=true
DATABASE_SAVE_DATA_CHATS=true
DATABASE_SAVE_DATA_LABELS=true
DATABASE_SAVE_DATA_HISTORIC=true

CACHE_REDIS_ENABLED=true
CACHE_REDIS_URI=redis://evolution_redis:6379/1
CACHE_REDIS_PREFIX_KEY=evolution_v2
